/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/app/private/
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
.env
.env.*
!.env.example
database/*.sqlite
database/*.sqlite-*
*.log
*.cache
.phpunit.result.cache
/.idea/
/.vscode/
Thumbs.db
.DS_Store
